*, *::before, *::after{
  box-sizing: border-box;
  font-family: sans-serif;
}
main{
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content:center;
  align-items: center;
  background-color: blue,100%,20%;
}
.container{
  width: 800px;
  max-width: 80%;
  background-color: bisque;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  grid-template-columns: repeat(1,auto;)
  align-items:center;
}
.valButton{
  border: 1px solid;hsl
  background-color:hsl
  border-radius: 5px;
  padding: 5px 10px;
  color:black;
  outline: none
}

